* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
    /* move an element below floating elements */
    /* there are also clear: left/right */
}

