html {
    scroll-behavior: smooth;
}

body {
    background-color: #f3f5f7;
    box-sizing: border-box;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.wrapper img {
    height: 42px;
}

.header {
    display: flex;
    align-items: center;
    height: 75px;
    background-color: #f3f5f7;
}

.headerSlide {
    display: flex;
    align-items: center;

    position: fixed;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);

    padding: 0 15%;
    width: 100%;
    height: 75px;
    background-color: #f3f5f7;
    transition: all .3s;
    z-index: 1;
}

h1 {
    float: left;
}

.nav {
    float: left;
    margin-left: 40px;
    height: 42px;
    /* background-color: green; */
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    padding: 0 7px;
    height: 42px;
    font: 14px "Arial";
    line-height: 42px;
    color: #050505;
}

.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    float: left;
    display: block;
    margin-left: 70px;
    width: 257px;
    height: 42px;
    border: 2px solid #228be6;
    /* line-height: 42px; */
}

.search input {
    float: left;
    padding-left: 10px;
    width: 215px;
    height: 38px;
    border: 0;
}

/* modify placeholder */
.search input::placeholder {
    color: #bfbfbf;
    font: 14px Arial;
}

.search button {
    width: 38px;
    height: 38px;
    background-image: url(../images/search.png);
    border: 0;
    cursor: pointer;
}

.user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    cursor: pointer;
}

.user img {
    width: 32px;
    vertical-align: middle;
}

.user span {
    margin-left: 2px;
    font: 12px Arial;
    line-height: 42px;
}

.banner {
    height: 340px;
    background-color: #1c036c;
}

.banner .wrapper {
    position: relative;
    width: 70%;
    height: 340px;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
}

.banner .left {
    float: left;
    padding: 25px 0;
    width: 150px;
    height: 340px;
    background-color: rgba(0, 0, 0, 0.3);
    line-height: 40px;
}

.banner .left a {
    float: left;
    display: block;
    padding-left: 10px;
    width: 150px;
    height: 40px;
    color: white;
    font: 14px Arial;
}

.banner .left span {
    float: right;
    margin-right: 10px;
}

.banner .left a:hover {
    color: #00b4ff;

}

/* .left li::after {
    content: url(../images/right-arrow.png);
    width: 10%;
    height: 10px;
} */

.banner .right {
    float: right;
    margin-top: 45px;
    width: 180px;
    height: 250px;
    background-color: #fff;
}

.banner h2 {
    height: 45px;
    background-color: #9bceea;
    text-align: center;
    font: 18px Arial;
    color: white;
    line-height: 45px;
}

.banner .content {
    padding: 0 15px;

}

.banner .content dl {
    padding: 10px 0;
    border-bottom: 2px solid #e5e5e5;

}

.banner .right .content dt {
    font: 14px Arial;
    color: #4e4e4e;
}

.banner .right .content dd {
    font: 12px Arial;
    color: #a5a5a5;
}

.banner .right .more {
    display: block;
    margin: 4px auto 0;
    width: 150px;
    height: 35px;
    border: 1px solid #00a4ff;

    font: bold 14px Arial;
    color: #00a4ff;

    text-align: center;
    line-height: 35px;
}

.banner ol {
    position: absolute;
    left: 346px;
    bottom: 10px;
    height: 8px;
    /* background-color: pink; */
}

.banner ol li {
    float: left;
    margin-right: 10px;
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    cursor: pointer;
}

.banner ol .current {
    background-color: #fff;
}

.options {
    margin-top: 10px;
    padding: 0 10px 0 22px;
    height: 45px;
    background-color: #fff;
    box-shadow: 0px 2px 3px 0px rgba(118, 118, 118, 0.2);
    line-height: 45px;
}

.options h4 {
    float: left;
    margin-right: 22px;
    font: 550 15px Arial;
    line-height: 45px;
    color: #00a4ff;
}

.options li {
    float: left;
}

.options li a {
    border-left: 1px solid #bfbfbf;
    padding: 0 24px;
    font: 14px Arial;
    color: black;
}

.options .change {
    float: right;
    font: 14px Arial;
    color: #00a4ff;
    line-height: 45px;
}

.lectures {
    margin-top: 20px;
    /* padding: 0 2px; */
}

.lectures .title {
    height: 40px;
    /* background-color: pink; */
}

.lectures .title h2 {
    float: left;
    margin-left: 2px;
    font: 20px Arial;
    color: #494949;
    line-height: 30px;
}

.lectures .title a {
    float: right;
    margin-right: 10px;
    font: 12px Arial;
    color: #a5a5a5;
    line-height: 30px;
}

.lectures .content ul {
    display: flex;
    flex-wrap: wrap;
}

.lectures .content li {
    position: relative;
    margin-bottom: 15px;
    width: 161.42px;
    height: 180px;
    background-color: white;
    font: 12px Arial;
    transition: all .2s;
}

.lectures .content li:hover {
    transform: translateY(-5px);
    box-shadow: 1px 1px 8px gray;
}

.lectures .content .hot {
    position: absolute;
    right: -3px;
    top: 3px;
    width: 30px;
    height: 15px;
    border: 1px solid red;
    font: bold 10px Arial;
    color: red;
    text-align: center;
    line-height: 15px;
    background-color: white;
}

.lectures .content img {
    width: 161.42px;
    height: 90px;
    background-color: pink;
}

.lectures .content h3 {
    padding: 5px 12px;
    Font: 13px Arial;
    color: #4e4e4e;
}

.lectures .content p {
    padding: 5px 12px;
    color: #999;
    font: 11px Arial;
}

.lectures .content span {
    color: #ff7c2d;
}

.section2,
.section3,
.section4 {
    margin-top: 20px;
    height: 500px;
    background-color: #9bceea;
}

.section2 span,
.section3 span,
.section4 span {
    display: block;
    padding: 20px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.footer {
    margin-top: 30px;
    padding: 25px 0;
    height: 250px;
    background-color: #fff;
}

.left {
    float: left;
}

.right {
    float: right;
}

.footer .left img {
    width: 180px;
    height: auto;
}

.footer .left p {
    padding: 10px 2px;
    font: 14px Arial;
    color: #666;
}

.footer .left a {
    float: left;
    display: block;
    margin-top: 5px;
    width: 170px;
    height: 45px;
    border: 2px solid #00a4ff;
    font: bold 16px Arial;
    color: #00a4ff;
    text-align: center;
    line-height: 45px;
}

.footer .right dl {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    padding-right: 10px;
    font: 16px Arial;
    color: #333;
}

.footer .right dt {
    margin-bottom: 10px;
}

.footer .right dd {
    margin-bottom: 5px;
    font-size: 14px;
}

.side {
    position: fixed;
    right: 85px;
    top: 177px;
    width: 75px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px dotted grey;
    text-align: center;
    opacity: 0;
    transition: all .1s;
    cursor: pointer;
}

.side a {
    display: block;
    height: 35px;
    line-height: 35px;
    color: black;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.side li:last-child {
    border-top: 1px dashed black;
}

.side .active {
    color: #00a4ff;
}

.side span {
    display: block;
    height: 35px;
    width: 100%;
    font-size: 25px;
    color: gray;
}