* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

input {
  padding-left: 30px;
  outline: none;
  width: 250px;
  height: 38px;
  font-size: 13px;
  border: 1px solid grey;
  border-radius: 0;
}

.sign-up-form div {
  margin: 0px auto;
  width: 250px;
  height: 30px;
}

body {
  background-color: #f5f5f5;
}

.wrapper {
  margin: 0 auto;
  padding: 20px 40px;
  background-color: #fff;
  width: 70%;
  height: 600px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;
  height: 370px;
}

.username,
.email,
.verification-code,
.pwd,
.pwd-confirm {
  position: relative;
}

.sign-up-form .icon {
  position: absolute;
  top: 11px; 
  left: 7px;
  color: grey;
}

.sign-up-form [type="submit"] {
  padding: 0;
  margin: 0 auto;
  width: 250px;
  height: 45px;

  font-size: 16px;
  background-color: #019ed2;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.warn, .verification-code p {
  position: absolute;
  top: 12px;
  right: 0;
  transform: translateX(102%);
  display: block;
  width: 400px;
  color: red;
  font-size: 12px;
}

.lets-icons--check-fill {
  color: green;
  font-size: 16px;
}

.verification-code {
  position: relative;
}

.verification-code a {
  display: block;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 70px;

  text-decoration: none;
  text-align: right;
  font-size: 12px;
  color: #019ed2;
}

.verification-code a:hover {
  color: #4787f0;
}

.verification-code p {
  /* display: none; */
  color: grey;
}

.sign-up-form .remember {
  display: flex;
  justify-content: flex-end;
  /* margin-top: 20px; */
  width: 250px;
  height: 15px;
  color: black;
}

.sign-up-form .remember input {
  font-size: 12px;
  width: 13px;
  height: 13px;
}

.sign-up-form .remember label {
  margin-left: 2px;
  font-size: 11px;
}